* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  height:300px;
}


.myDiv {
  margin:auto;
  margin-top:50px;
  width:200px;
  padding:10px;
  box-shadow: 10px 10px 10px #808080;
  border-radius: 1em;
  background-color: rgb(136, 165, 207);
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  height: 2em;
  clear: both;
  display: table;
}

/* Clearfix (clear floats) */
.minirow::after {
  content: "";
  height: 2em;
  clear: both;
  display: table;
}
.minicolumn {
  float: left;
  width: 50%;
}
#logout{
  padding: 2em 0 0.5em 0.5em;
}